.sidebar{
    background-image: linear-gradient(40deg, #19d3ae,#0fcfec);
    height: 100%;
    min-height: 100vh;
    /* position: fixed;
    right: 20px; */
}
/* .sidebar li{
    margin-bottom: 1em;
} */
.sidebar li:hover span{
    /* display: inline-block; */
    /* transform: translate(2px); */
}
.sidebar svg{
    margin-right: 5px;
}
.sidebar li a{

        text-decoration: none;
}
.sidebar li p{
    
}
.log{
    font-size: 24px;
    
}
.log a {
    
}