.cards{
   padding: 40px;
  background-color: #e91e63;
  border-radius: 8px;
  
}
.cardInfo{
    padding: 25px;
   height: 100px;
  border-radius: 8px;
}
.main-card{
    height: 80px;
    margin: 20px;
}
.text{
    margin-left: 30px;
}
.text p{
    font-size: 18px;
    
}
.pending{
    margin-bottom: -2px;
}